@import '../../node_modules/bulma/bulma.sass';

html,
body {
    padding: 0;
    margin: auto;
    max-width: 800px;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.square {
    height: 0;
    width: 8vw;
    padding: 4vw 0;
    // position: relative;
}

.button.score {
    height: 0;
    width: 20px;
    padding: 40px;
    border-radius: 100%;
    margin: 10px;
    font-size: 200%;

    &.is-light {
        border: 1px solid $dark;
    }
}

.history {
    // margin: 20px;
    padding: 20px;
}

.board {
    border: 1px dotted red;
    padding: 20px;
    background-color: #0a6c03;
    min-width: 150px;
    max-width: 800px;
    margin: auto;

    .row {
        display: flex;

        .cell {
            position: relative;
            width: 80%;
            margin: 1.5%;
            background-color: #3ab503;
            border-radius: 3%;

            .cont {
                // border: 1px solid green;

                border-radius: 1000px;
                position: absolute;
                $size: 94%;
                margin: 3%;
                width: $size;
                height: $size;

                text-align: center;

            }

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;

            }

            .state-empty.isValidMove {
                &.highlight-black:hover {
                    background-color: #000a;
                    cursor: pointer;
                }

                &.highlight-white:hover {
                    background-color: #fffa;
                    cursor: pointer;
                }

            }

            .state-black {
                background-color: black;
            }

            .state-white {
                background-color: white;
            }

        }

    }
}