@import '../../node_modules/bulma/bulma.sass';

html,
body {
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.square {
    height: 0;
    width: 8vw;
    padding: 4vw 0;
    // position: relative;
}

.board {
    border: 1px dotted red;
    padding: 10px;
    background-color: #0a6c03;

    .row {
        display: flex;

        .cell {
            position: relative;
            width: 50%;
            margin: 10px;
            background-color: #3ab503;
            border-radius: 7%;

            .cont {
                // border: 1px solid green;

                border-radius: 1000px;
                position: absolute;
                $size: 94%;
                margin: 3%;
                width: $size;
                height: $size;

                text-align: center;

            }

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;

            }

            .state-empty.isValidMove {
                &.highlight-black:hover {
                    background-color: #000a;
                    cursor: pointer;
                }

                &.highlight-white:hover {
                    background-color: #fffa;
                    cursor: pointer;
                }

            }

            .state-black {
                background-color: black;
            }

            .state-white {
                background-color: white;
            }

        }

    }
}